<!DOCTYPE html>
<!--
    __BUILD_MESSAGE__
    build options: __BUILD_OPTIONS__
    build at: __BUILD_TIMESTAMP__
    repository: __REPOSITORY_URL__
-->
<!-- license:
__LICENSE__-->
<html>
<head>
<meta charset="utf-8">
<title>__APPLICATION_TITLE__</title>
<link id="favicon" rel="shortcut icon" href="./image/favicon.png">
<link rel="canonical" href="__CANONICAL_URL__">
<link rel="apple-touch-icon" href="./image/favicon.png">
<meta name="theme-color" content="__THEME_COLOR__">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
__DESCRIPTION__
<link id="manifest" rel="manifest" href="web.manifest/generated/en.json" />
<meta name="apple-mobile-web-app-title" content="__APPLICATION_TITLE__">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wraith13">
<!-- meta name="twitter:creator" content="@wraith13" -->
<meta name="twitter:title" content="__APPLICATION_TITLE__">
__TWITTER_DESCRIPTION__
<meta name="twitter:image" content="https://wraith13.github.io/web-media-player/image/twitter-card.png">
<meta property="og:title" content="__APPLICATION_TITLE__" />
<meta property="og:description" content="__DESCRIPTION_EN__" />
<meta property="og:type" content="website" />
<meta property="og:url" content="__CANONICAL_URL__" />
<meta property="og:image" content="https://wraith13.github.io/web-media-player/image/twitter-card.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="__APPLICATION_TITLE__" />
<meta property="og:locale" content="en_US" />
<link rel="image_src" href="https://wraith13.github.io/web-media-player/image/twitter-card.png" />
<style>
__STYLE__
DUMMYSTYLE
{
    color: inherit;
}
</style>
</head>
<body>
<noscript id="noscript">
    <div class="panel">
        <div class="section">
            <h2>NOSCRIPT</h2>
            __NOSCRIPT_MESSAGE__
        </div>
    </div>
</noscript>
<div id="screen-body">
    <div id="media-screen" style="opacity: 1.0;">
    </div>
    <div id="overlay-screen">
        <div id="analog-clock-background" class="hide" role="presentation" aria-hidden="true"></div>
        <time id="analog-clock-panel" class="hide">
            <div id="milli-seconds-niddle" class="hide" role="presentation" aria-hidden="true"></div>
            <div id="seconds-niddle" role="presentation" aria-hidden="true"></div>
            <div id="minutes-niddle" role="presentation" aria-hidden="true"></div>
            <div id="scale60-panel" role="presentation" aria-hidden="true"></div>
            <div id="hours-niddle" role="presentation" aria-hidden="true"></div>
            <div id="scale12-panel" role="presentation" aria-hidden="true"></div>
            <div id="day-niddle" role="presentation" aria-hidden="true"></div>
            <div id="scale24-panel" role="presentation" aria-hidden="true"></div>
            <div id="week-niddle" role="presentation" aria-hidden="true"></div>
            <div id="week-panel" role="presentation" aria-hidden="true"></div>
            <div id="month-niddle" role="presentation" aria-hidden="true"></div>
            <div id="month-panel" role="presentation" aria-hidden="true"></div>
            <div id="year-niddle" role="presentation" aria-hidden="true"></div>
            <div id="year-panel" role="presentation" aria-hidden="true"></div>
            <div id="center-circle" role="presentation" aria-hidden="true"></div>
        </time>
        <div id="overlay-panel" dir="ltr">
            <div id="weather" role="status" alira-live="polite" aria-atomic="true" data-aria-lang-key="with-weather"></div>
            <time id="time" role="timer" aria-live="polite" aria-atomic="true"></time>
            <time id="date" aria-live="polite" aria-atomic="true"></time>
            <div id="calendar" aria-hidden="true"></div>
            <div id="visualizer" class="visualizer"></div>
        </div>
    </div>
    <div id="background-screen">
        <div id="keyboard-shortcut" data-aria-lang-key="shortcuts"></div>
    </div>
    <div id="dark-curtain"></div>
    <div id="media-list">
        <div class="item add">
            <button id="add-media" data-aria-lang-key="add-media">__ADD_ICON__</button>
            <input id="add-file" type="file" multiple />
        </div>
    </div>
</div>
<div id="element-pool" style="display:none;" aria-hidden="true"></div>
<div id="progress-circle" role="progressbar" aria-live="polite" data-aria-lang-key="loading-media"></div>
<div id="no-media-panel">
    <span data-lang-key="no-media-message"></span>
</div>
<div id="not-supported-media-panel">
    <span data-lang-key="not-supported-media-message"></span>
</div>
<div id="wake-up-timer-not-working-panel">
    <span data-lang-key="wake-up-timer-not-working"></span>
</div>
<div id="fps" aria-hidden="true"></div>
<div id="control-panel">
    <label for="wakeup-button" class="icon-button" tabindex="0" data-aria-lang-key="wakeup">
        <input id="wakeup-button" type="checkbox">
        <div id="wakeup-progress-circle" role="timer"></div>
        __SUN_ICON__
    </label>
    <div id="wakeup-panel" class="popup-panel">
        <label id="wakeup-toggle-label" class="toggle-label" tabindex="0" aria-labelledby="wakeup-toggle-label-span">
            <span id="wakeup-toggle-label-span" data-lang-key="wakeup"></span>
            <span data-lang-key="on" class="value-label"></span>
            <span data-lang-key="off" class="value-label"></span>
        </label>
        <label for="wakeup-time" class="indent" aria-labelledby="wakeup-timer-select-label-span">
            <span id="wakeup-timer-select-label-span" data-lang-key="timer"></span>
            <select id="wakeup-time"></select>
        </label>
        <label for="fade-in" class="indent" aria-labelledby="fade-in-label-span">
            <span id="fade-in-label-span" data-lang-key="fade-in"></span>
            <select id="fade-in"></select>
        </label>
    </div>
    <label id="wakeup-timer" for="wakeup-button" class="tip solid-label" role="status"></label>
    <label id="no-media" for="add-file" class="tip solid-label hide" role="tooltip"><span data-lang-key="no-media-message"></span></label>
    <label for="shuffle" class="icon-button" tabindex="0" data-aria-lang-key="Shuffle">
        <input id="shuffle" type="checkbox">
        __SHUFFLE_ICON__
    </label>
    <label for="repeat" class="icon-button" tabindex="0" data-aria-lang-key="Repeat">
        <input id="repeat" type="checkbox">
        __REPEAT_ICON__
    </label>
    <button id="play-button" tabindex="0" data-aria-lang-key="Play / Pause">
        <div id="play-icon" role="presentation" aria-hidden="true">__PLAY_ICON__</div>
        <div id="pause-icon" role="presentation" aria-hidden="true">__PAUSE_ICON__</div>
    </button>
    <label for="volume-button" class="icon-button" tabindex="0" data-aria-lang-key="Volume">
        <input id="volume-button" type="checkbox">
        <div id="speaker-mute-icon">__SPEAKER_MUTE_ICON__</div>
        <div id="speaker-0-icon">__SPEAKER_0_ICON__</div>
        <div id="speaker-1-icon">__SPEAKER_1_ICON__</div>
        <div id="speaker-2-icon">__SPEAKER_2_ICON__</div>
        <div id="speaker-3-icon">__SPEAKER_3_ICON__</div>
    </label>
    <div id="volume-panel">
        <input id="volume" type="range" data-aria-lang-key="Volume" />
    </div>
    <label for="settings-button" class="icon-button" tabindex="0" data-aria-lang-key="Settings">
        <input id="settings-button" type="checkbox">
        __COG_ICON__
    </label>
    <div id="settings-panel" class="popup-panel">
        <label for="media-count" class="information" aria-labelledby="media-count-label-span">
            <span id="media-count-label-span" data-lang-key="media-count"></span>
            <span id="media-count" class="value-text"></span>
        </label>
        <label for="media-length" class="information" aria-labelledby="media-length-label-span">
            <span id="media-length-label-span" data-lang-key="media-length"></span>
            <span id="media-length" class="value-text"></span>
        </label>
        <label for="with-fullscreen" aria-labelledby="with-fullscreen-label-span">
            <span id="with-fullscreen-label-span" data-lang-key="with-fullscreen"></span>
            <input id="with-fullscreen" type="checkbox" />
        </label>
        <label for="brightness" aria-labelledby="brightness-label-span">
            <span id="brightness-label-span" data-lang-key="brightness"></span>
            <input id="brightness" type="range" />
        </label>
        <label for="stretch" aria-labelledby="stretch-label-span">
            <span id="stretch-label-span" data-lang-key="stretch"></span>
            <input id="stretch" type="range" />
        </label>
        <label for="padding" aria-labelledby="padding-label-span">
            <span id="padding-label-span" data-lang-key="padding"></span>
            <input id="padding" type="checkbox" />
        </label>
        <label for="image-span" aria-labelledby="image-span-label-span">
            <span id="image-span-label-span" data-lang-key="image-span"></span>
            <select id="image-span"></select>
        </label>
        <label for="loop-short-media" aria-labelledby="loop-short-media-label-span">
            <span id="loop-short-media-label-span" data-lang-key="loop-short-media"></span>
            <input id="loop-short-media" type="checkbox" />
        </label>
        <label for="visualizer-type" aria-labelledby="visualizer-type-label-span">
            <span id="visualizer-type-label-span" data-lang-key="visualizer"></span>
            <select id="visualizer-type"></select>
        </label>
        <label for="cross-fade" aria-labelledby="cross-fade-label-span">
            <span id="cross-fade-label-span" data-lang-key="cross-fade"></span>
            <select id="cross-fade"></select>
        </label>
        <label for="cross-fade-transition" class="indent" aria-labelledby="cross-fade-transition-label-span">
            <span id="cross-fade-transition-label-span" data-lang-key="cross-fade-transition"></span>
            <select id="cross-fade-transition"></select>
        </label>
        <label for="analog-clock" aria-labelledby="stretch-label-span">
            <span id="stretch-label-span" data-lang-key="analog-clock"></span>
            <input id="analog-clock" type="checkbox" />
        </label>
        <label for="24hours-hand" class="indent" aria-labelledby="24hours-hand-label-span">
            <span id="24hours-hand-label-span" data-lang-key="24hours-hand"></span>
            <input id="24hours-hand" type="checkbox" />
        </label>
        <label for="date-hands" class="indent" aria-labelledby="date-hands-label-span">
            <span id="date-hands-label-span" data-lang-key="date-hands"></span>
            <input id="date-hands" type="checkbox" />
        </label>
        <label for="millisecond-hand" class="indent" aria-labelledby="millisecond-hand-label-span">
            <span id="millisecond-hand-label-span" data-lang-key="millisecond-hand"></span>
            <input id="millisecond-hand" type="checkbox" />
        </label>
        <label for="overlay-style" aria-labelledby="overlay-style-label-span">
            <span id="overlay-style-label-span" data-lang-key="overlay-style"></span>
            <select id="overlay-style"></select>
        </label>
        <label for="overlay-position" class="indent" aria-labelledby="overlay-position-label-span">
            <span id="overlay-position-label-span" data-lang-key="overlay-position"></span>
            <select id="overlay-position"></select>
        </label>
        <label for="with-weather" class="indent" aria-labelledby="with-weather-label-span">
            <span id="with-weather-label-span" data-lang-key="with-weather"></span>
            <input id="with-weather" type="checkbox" />
        </label>
        <label for="weather-location" class="indent2" aria-labelledby="weather-location-label-span">
            <span id="weather-location-label-span" data-lang-key="weather-location"></span>
            <select id="weather-location"></select>
        </label>
        <label for="with-clock" class="indent" aria-labelledby="with-clock-label-span">
            <span id="with-clock-label-span" data-lang-key="with-clock"></span>
            <input id="with-clock" type="checkbox" />
        </label>
        <label for="with-date" class="indent" aria-labelledby="with-date-label-span">
            <span id="with-date-label-span" data-lang-key="with-date"></span>
            <input id="with-date" type="checkbox" />
        </label>
        <label for="with-calendar" class="indent" aria-labelledby="with-calendar-label-span">
            <span id="with-calendar-label-span" data-lang-key="with-calendar"></span>
            <input id="with-calendar" type="checkbox" />
        </label>
        <label for="with-visualizer" class="indent" aria-labelledby="with-visualizer-label-span">
            <span id="with-visualizer-label-span" data-lang-key="with-visualizer"></span>
            <input id="with-visualizer" type="checkbox" />
        </label>
        <label for="show-fps" aria-labelledby="show-fps-label-span">
            <span id="show-fps-label-span" data-lang-key="show-fps"></span>
            <input id="show-fps" type="checkbox" />
        </label>
        <label for="shortcuts" aria-labelledby="shortcuts-label-span">
            <span id="shortcuts-label-span" data-lang-key="shortcuts"></span>
            <select id="shortcuts"></select>
        </label>
        <label for="language" aria-labelledby="language-label-span">
            <span id="language-label-span" data-lang-key="language"></span>
            <select id="language"></select>
        </label>
        <label for="url" class="link-label" aria-labelledby="url">
            <a id="url" href="?"><span data-lang-key="url"></span></a>
        </label>
        <label for="repository" class="link-label" aria-labelledby="repository">
            <a id="repository" href="__REPOSITORY_URL__"><span data-lang-key="repository"></span></a>
        </label>
    </div>
    <label for="sleep-button" class="icon-button" tabindex="0" data-aria-lang-key="sleep">
        <input id="sleep-button" type="checkbox">
        <div id="sleep-progress-circle" role="timer"></div>
        __MOON_ICON__
    </label>
    <div id="sleep-panel" class="popup-panel">
        <label id="sleep-toggle-label" class="toggle-label" tabindex="0" aria-labelledby="sleep-toggle-label-span">
            <span id="sleep-toggle-label-span" data-lang-key="sleep"></span>
            <span data-lang-key="on" class="value-label"></span>
            <span data-lang-key="off" class="value-label"></span>
        </label>
        <label for="sleep-time" class="indent" aria-labelledby="sleep-timer-select-label-span">
            <span id="sleep-timer-select-label-span" data-lang-key="timer"></span>
            <select id="sleep-time"></select>
        </label>
        <label for="fade-out" class="indent" aria-labelledby="fade-out-label-span">
            <span id="fade-out-label-span" data-lang-key="fade-out"></span>
            <select id="fade-out"></select>
        </label>
    </div>
    <label id="sleep-timer" for="sleep-button" class="tip solid-label" role="status"></label>
    <label id="no-repeat" for="repeat" class="tip solid-label hide" role="tooltip"><span data-lang-key="no-repeat-message"></span></label>
</div>
<div id="transport-panel">
    <span id="media-index" role="status" aria-live="polite" aria-atomic="true"></span>
    <span id="media-title" role="status" aria-live="polite" aria-atomic="true" tabindex="0"></span>
    <div id="media-time-frame">
        <span id="media-time" role="status" aria-live="polite" tabindex="0"></span>
        <div id="seek-panel">
            <input id="seek" type="range" aria-live="polite" data-aria-lang-key="Seek" min="0" max="1" step="any" />
        </div>
    </div>
    <button id="back-button" data-aria-lang-key="Go to Previous Media">
        <div id="back-icon" role="presentation" aria-hidden="true">__BACK_ICON__<div>
    </button>
    <button id="next-button" data-aria-lang-key="Go to Next Media">
        <div id="next-icon" role="presentation" aria-hidden="true">__NEXT_ICON__<div>
    </button>
    <button id="rewind-button" data-aria-lang-key="Seek Backward">
        <div id="rewind-icon" role="presentation" aria-hidden="true">__REWIND_ICON__<div>
    </button>
    <button id="fast-forward-button" data-aria-lang-key="Seek Forward">
        <div id="fast-forward-icon" role="presentation" aria-hidden="true">__FAST_FORWARD_ICON__<div>
    </button>
</div>
<div id="pressed-key" role="status" aria-live="polite" aria-atomic="true"></div>
<div id="images" style="display:none;" aria-hidden="true">__IMAGES__</div>
</body>
<script type="text/javascript">
const build =
{
    at: "__BUILD_TIMESTAMP__",
    tick: __BUILD_TIMESTAMP_TICK__
};
const evilCommonjsConfig = // "./resource/evil-commonjs.config.json"
__EVIL_COMMONJS_CONFIG__;
const evilTimerConfig = // "./resource/evil-timer.js.config.json"
__EVIL_TIMER_CONFIG__;
__EVIL_COMMONJS__
__EVIL_TIMER__
__FLOUNDER_STYLE__
__SCRIPT__
if ("serviceWorker" in navigator)
{
    window.addEventListener
    (
        "load",
        () =>
        {
            navigator.serviceWorker.register("./sw.js")
                .then(reg => console.log("✅ SW registered:", reg.scope))
                .catch(err => console.warn("🚫 SW registration failed:", err));
        }
    );
}
</script>
</html>
