<!DOCTYPE html>
<!--
    __BUILD_MESSAGE__
    build options: __BUILD_OPTIONS__
    build at: __BUILD_TIMESTAMP__
    repository: __REPOSITORY_URL__
-->
<!-- license:
__LICENSE__-->
<html>
<head>
<meta charset="utf-8">
<title>__APPLICATION_TITLE__</title>
<link id="favicon" rel="shortcut icon" href="./image/favicon.png">
<link rel="canonical" href="__CANONICAL_URL__">
<link rel="apple-touch-icon" href="./image/favicon.png">
<meta name="theme-color" content="black">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no">
__DESCRIPTION__
<link id="manifest" rel="manifest" href="web.manifest/generated/en.json" />
<meta name="apple-mobile-web-app-title" content="__APPLICATION_TITLE__">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wraith13">
<!-- meta name="twitter:creator" content="@wraith13" -->
<meta name="twitter:title" content="__APPLICATION_TITLE__">
__TWITTER_DESCRIPTION__
<meta name="twitter:image" content="https://wraith13.github.io/web-media-player/image/twitter-card.png">
<style>
__STYLE__
DUMMYSTYLE
{
    color: inherit;
}
</style>
</head>
<body>
<h1 id="screen-header">
    <a class="segment" href="https://github.com/"><span>GitHub</span></a>
    <a class="segment" href="https://github.com/wraith13"><span>wraith13</span></a>
    <a class="segment" href="https://wraith13.github.io/"><span>wraith13.github.io</span></a>
    <a class="segment" href="__REPOSITORY_URL__"><span>__APPLICATION_TITLE__</span></a>
</h1>
<div id="noscript">
    <div class="panel">
        <noscript class="section">
            <h2>NOSCRIPT</h2>
            __NOSCRIPT_MESSAGE__
        </noscript>
        <div class="section">
            __NOSCRIPT_INTRODUCTION__
        </div>
    </div>
</div>
<div id="screen-body">
    <div id="media-screen">
    </div>
    <div id="media-list">
        <div class="item add" id="add-media">
            __ADD_ICON__
            <input id="add-file" type="file" accept="image/*,audio/*,video/*" multiple>
        </div>
    </div>
</div>
<div id="option-panel">
</div>
<div id="fps"></div>
<div id="clock-panel">
    <span id="time"></span>
    <span id="date"></span>
</div>
<div id="background-introduction-panel">
    <div class="section">
        <h2><span data-lang-key="noscript-introduction-title"></span></h2>
        <p><span data-lang-key="noscript-introduction-description"></span></p>
    </div>
</div>
<div id="popup-introduction-panel">
    <div class="section">
        <h2><span data-lang-key="noscript-introduction-title"></span></h2>
        <p><span data-lang-key="noscript-introduction-description"></span></p>
    </div>
</div>
<div id="control-panel">
    <button id="shuffle-button">__SHUFFLE_ICON__</button>
    <button id="repeat-button">__REPEAT_ICON__</button>
    <button id="play-button">
        <div id="play-icon">__PLAY_ICON__<div>
        <div id="pause-icon">__PAUSE_ICON__<div>
    </button>
    <button id="aspect-button">__ASPECT_ICON__</button>
    <button id="setting-button">__COG_ICON__</button>
    <div id="setting-panel">
        <label for="with-fullscreen">
            <span data-lang-key="with-fullscreen-label"></span>
            <input id="with-fullscreen" type="checkbox" />
            <span class="load-status" id="with-fullscreen-load-status"></span>
        </label>
        <label for="show-fps">
            <span data-lang-key="show-fps-label"></span>
            <input id="show-fps" type="checkbox" />
            <span class="load-status" id="show-fps-load-status"></span>
        </label>
        <label for="clock">
            <span data-lang-key="clock-label"></span>
            <select id="clock"></select>
            <span class="load-status" id="clock-load-status"></span>
        </label>
        <label for="brightness">
            <span data-lang-key="brightness-label"></span>
            <select id="brightness"></select>
            <span class="load-status" id="brightness-load-status"></span>
        </label>
        <label for="stretch">
            <span data-lang-key-x="stretch-label">ストレッチ:</span>
            <input id="stretch" type="range" />
        </label>
        <label for="language">
            <span data-lang-key="language-label"></span>
            <select id="language"></select>
            <span class="load-status" id="language-load-status"></span>
        </label>
        <label for="url">
            <a id="url" href="?"><span data-lang-key="url-label"></span></a>
        </label>
    </div>
</div>
<div id="screen-footer">
    <div id="supplementary-line">
        <div id="keyboard-shortcut">
        </div>
        <div id="powered-by">
            <span class="title"></span>
            <ul></ul>
        </div>
    </div>
</div>
<div id="images" style="display: none;">__IMAGES__</div>
</body>
<script type="text/javascript">
const build =
{
    at: "__BUILD_TIMESTAMP__",
    tick: __BUILD_TIMESTAMP_TICK__
};
const evilCommonjsConfig = // "./resource/evil-commonjs.config.json"
__EVIL_COMMONJS_CONFIG__;
const evilTimerConfig = // "./resource/evil-timer.js.config.json"
__EVIL_TIMER_CONFIG__;
__EVIL_COMMONJS__
__EVIL_TIMER__
__SCRIPT__
</script>
</html>
