<!DOCTYPE html>
<!--
    __BUILD_MESSAGE__
    build options: __BUILD_OPTIONS__
    build at: __BUILD_TIMESTAMP__
    repository: __REPOSITORY_URL__
-->
<!-- license:
__LICENSE__-->
<html>
<head>
<meta charset="utf-8">
<title>__APPLICATION_TITLE__</title>
<link id="favicon" rel="shortcut icon" href="./image/favicon.png">
<link rel="canonical" href="__CANONICAL_URL__">
<link rel="apple-touch-icon" href="./image/favicon.png">
<meta name="theme-color" content="black">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no">
__DESCRIPTION__
<link id="manifest" rel="manifest" href="web.manifest/generated/en.json" />
<meta name="apple-mobile-web-app-title" content="__APPLICATION_TITLE__">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wraith13">
<!-- meta name="twitter:creator" content="@wraith13" -->
<meta name="twitter:title" content="__APPLICATION_TITLE__">
__TWITTER_DESCRIPTION__
<meta name="twitter:image" content="https://wraith13.github.io/web-media-player/image/twitter-card.png">
<style>
__STYLE__
DUMMYSTYLE
{
    color: inherit;
}
</style>
</head>
<body>
<div id="noscript">
    <div class="panel">
        <noscript class="section">
            <h2>NOSCRIPT</h2>
            __NOSCRIPT_MESSAGE__
        </noscript>
        <div class="section">
            __NOSCRIPT_INTRODUCTION__
        </div>
    </div>
</div>
<div id="screen-body">
    <div id="media-screen">
        <div id="overlay-panel" dir="ltr">
            <div id="weather"></div>
            <span id="time"></span>
            <span id="date"></span>
            <div id="calendar"></div>
        </div>
    </div>
    <div id="background-screen">
        <span>__APPLICATION_TITLE__</span>
    </div>
    <div id="media-list">
        <div class="item add">
            <div id="add-media">__ADD_ICON__</div>
            <input id="add-file" type="file" multiple />
        </div>
    </div>
</div>
<div id="element-pool"></div>
<div id="progress-circle"></div>
<div id="no-media-panel">
    <span data-lang-key="no-media-message"></span>
</div>
<div id="not-supported-media-panel">
    <span data-lang-key="not-supported-media-message"></span>
</div>
<div id="fps"></div>
<div id="control-panel">
    <label for="shuffle" class="icon-button">
        <input id="shuffle" type="checkbox">
        __SHUFFLE_ICON__
    </label>
    <button id="repeat-button">__REPEAT_ICON__</button>
    <button id="play-button">
        <div id="play-icon">__PLAY_ICON__</div>
        <div id="pause-icon">__PAUSE_ICON__</div>
    </button>
    <button id="volume-button">
        <div id="speaker-mute-icon">__SPEAKER_MUTE_ICON__</div>
        <div id="speaker-0-icon">__SPEAKER_0_ICON__</div>
        <div id="speaker-1-icon">__SPEAKER_1_ICON__</div>
        <div id="speaker-2-icon">__SPEAKER_2_ICON__</div>
        <div id="speaker-3-icon">__SPEAKER_3_ICON__</div>
    </button>
    <div id="volume-panel">
        <input id="volume" type="range" />
    </div>
    <button id="setting-button">__COG_ICON__</button>
    <div id="setting-panel">
        <label for="media-count" class="information">
            <span data-lang-key="media-count-label"></span>
            <span id="media-count" class="value-text"></span>
        </label>
        <label for="media-length" class="information">
            <span data-lang-key="media-length-label"></span>
            <span id="media-length" class="value-text"></span>
        </label>
        <label for="with-fullscreen">
            <span data-lang-key="with-fullscreen-label"></span>
            <input id="with-fullscreen" type="checkbox" />
            <span class="load-status" id="with-fullscreen-load-status"></span>
        </label>
        <label for="brightness">
            <span data-lang-key="brightness-label"></span>
            <input id="brightness" type="range" />
            <span class="load-status" id="brightness-load-status"></span>
        </label>
        <label for="stretch">
            <span data-lang-key="stretch-label"></span>
            <input id="stretch" type="range" />
        </label>
        <label for="padding">
            <span data-lang-key="padding-label"></span>
            <input id="padding" type="checkbox" />
        </label>
        <label for="cross-fade">
            <span data-lang-key="cross-fade-label"></span>
            <select id="cross-fade"></select>
        </label>
        <label for="image-span">
            <span data-lang-key="image-span-label"></span>
            <select id="image-span"></select>
        </label>
        <label for="loop-short-media">
            <span data-lang-key="loop-short-media-label"></span>
            <input id="loop-short-media" type="checkbox" />
        </label>
        <label for="visualizer">
            <span data-lang-key="visualizer-label"></span>
            <select id="visualizer"></select>
        </label>
        <label for="overlay-style">
            <span data-lang-key="overlay-style-label"></span>
            <select id="overlay-style"></select>
            <span class="load-status" id="overlay-style-load-status"></span>
        </label>
        <label for="overlay-position">
            <span data-lang-key="overlay-position-label"></span>
            <select id="overlay-position"></select>
        </label>
        <label for="with-weather">
            <span data-lang-key="with-weather-label"></span>
            <input id="with-weather" type="checkbox" />
        </label>
        <label for="weather-location">
            <span data-lang-key="weather-location-label"></span>
            <select id="weather-location"></select>
        </label>
        <label for="with-clock">
            <span data-lang-key="with-clock-label"></span>
            <input id="with-clock" type="checkbox" />
        </label>
        <label for="with-date">
            <span data-lang-key="with-date-label"></span>
            <input id="with-date" type="checkbox" />
        </label>
        <label for="with-calendar">
            <span data-lang-key="with-calendar-label"></span>
            <input id="with-calendar" type="checkbox" />
        </label>
        <label for="show-fps">
            <span data-lang-key="show-fps-label"></span>
            <input id="show-fps" type="checkbox" />
            <span class="load-status" id="show-fps-load-status"></span>
        </label>
        <label for="language">
            <span data-lang-key="language-label"></span>
            <select id="language"></select>
            <span class="load-status" id="language-load-status"></span>
        </label>
        <label for="url">
            <a id="url" href="?"><span data-lang-key="url-label"></span></a>
        </label>
    </div>
</div>
<span id="media-index"></span>
<span id="media-title"></span>
<div id="media-time-frame">
    <span id="media-time"></span>
    <div id="seek-panel">
        <input id="seek" type="range" min="0" max="1" step="any" />
    </div>
</div>
<button id="back-button">
    <div id="back-icon">__BACK_ICON__<div>
</button>
<button id="next-button">
    <div id="next-icon">__NEXT_ICON__<div>
</button>
<button id="rewind-button">
    <div id="rewind-icon">__REWIND_ICON__<div>
</button>
<button id="fast-forward-button">
    <div id="fast-forward-icon">__FAST_FORWARD_ICON__<div>
</button>
<div id="screen-footer">
    <div id="supplementary-line">
        <div id="keyboard-shortcut">
        </div>
        <div id="powered-by">
            <span class="title"></span>
            <ul></ul>
        </div>
    </div>
</div>
<div id="images" style="display: none;">__IMAGES__</div>
</body>
<script type="text/javascript">
const build =
{
    at: "__BUILD_TIMESTAMP__",
    tick: __BUILD_TIMESTAMP_TICK__
};
const evilCommonjsConfig = // "./resource/evil-commonjs.config.json"
__EVIL_COMMONJS_CONFIG__;
const evilTimerConfig = // "./resource/evil-timer.js.config.json"
__EVIL_TIMER_CONFIG__;
__EVIL_COMMONJS__
__EVIL_TIMER__
__SCRIPT__
</script>
</html>
