@use "./params" as *;
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    line-height: 120%;
    color: inherit;
    outline: 0;
    vertical-align: baseline;
}
html
{
    -webkit-text-size-adjust: auto;
    height: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    max-height: 100vh;
    max-height: 100dvh;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    overflow: hidden;
    &[dir="rtl"]
    {
        svg
        {
            scale: -1 1;
        }
    }
}
body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    min-height: 100dvh;
    max-height: 100vh;
    max-height: 100dvh;
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    background-color: $body-background-color;
}
button
{
    cursor: pointer;
}
input[type="checkbox"],
input[type="range"]
{
    filter: brightness(var(--white-depth));
}
