@use "./params" as *;
@use "./traits" as *;
@use "./base" as *;
@use "./noscript.scss" as *;
#screen-body
{
    @include full-stretch-box();
    @include flex(column, center);
    position: fixed;
    z-index: 50;
    @at-root body.play:not(.mousemove) &
    {
        cursor: none;
    }
    #background-screen
    {
        @include fade-transition("body.play");
        @include solid-box();
        @include full-stretch-box();
        @include flex(row, center, center);
        span
        {
            @include font();
            &
            {
                color: white-color(0.7);
                text-shadow: 0px 0px 0.25rem black;
                user-select: none;
                transform: scale(1.25);
            }
        }
    }
    #media-screen
    {
        @include fade-transition("body.list");
        @include solid-box();
        @include full-stretch-box();
        position: fixed;
        overflow: visible;
        .player:not(audio):not(.sound-only),
        & > .visualizer
        {
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            object-fit: cover;
            transform: translate(-50%, -50%);
        }
        .track-frame.fade-out .player:not(audio):not(.sound-only), .visualizer.fade-out
        {
            transition: opacity 3000ms;
            opacity: 0;
        }
        video::-webkit-media-controls,
        video::-moz-media-controls,
        video::-ms-media-controls,
        video::-o-media-controls,
        video::-media-controls
        {
            display: none !important;
        }
        .padding
        {
            filter: blur(calc(0.5vw + 0.5vh));
            filter: blur(calc(0.5dvw + 0.5dvh));
        }
        & > .visualizer
        {
            color: $white-color;
            background-color: black;
            .visual-canvas
            {
                @include full-stretch-box();
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // width: 100%;
                // height: 100%;
            }
            svg
            {
                position: absolute;
                height: calc(15vw + 15vh);
                height: calc(15dvw + 15dvh);
                width: calc(15vw + 15vh);
                width: calc(15dvw + 15dvh);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                fill: black;
                filter: drop-shadow($white-color 0px 0px 0.5rem);
                z-index: 100;
            }
            &.muted svg
            {
                fill: red;
                &.audio-icon
                {
                    display: none;
                }
            }
            &:not(.muted) svg.mute-icon
            {
                display: none;
            }
        }
        &:not(.simple)
        {
            .visual-progress-circle
            {
                display: none;
            }
        }
        &.simple
        {
            .visual-canvas
            {
                display: none;
            }
        }
        &.disable-transition
        {
            transition: none !important;
        }
    }
    #media-list
    {
        @include fade-transition("body.play");
        @include solid-box();
        @include full-stretch-box();
        @include flex(row, start, start);
        overflow-y: auto;
        z-index: 30;
        flex-wrap: wrap;
        align-content: flex-start;
        padding-top: 0.25rem;
        padding-top: calc(0.25rem + env(safe-area-inset-top));
        padding-left: 0.25rem;
        padding-left: calc(0.25rem + env(safe-area-inset-left));
        padding-right: 0.25rem;
        padding-right: calc(0.25rem + env(safe-area-inset-right));
        padding-bottom: 5.5rem;
        padding-bottom: calc(5.5rem + env(safe-area-inset-bottom));
        position: absolute;
        counter-reset: item-num;
        .item
        {
            @include solid-box();
            @include flex(column, center, center);
            counter-increment: item-num;
            position: relative;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 20rem;
            min-width: 20rem;
            height: 5rem;
            margin: 0.25rem;
            border-radius: 0.5rem;
            background-color: black-color(0.6);
            color: $white-color;
            font-size: 1.25rem;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            transition: background-color 300ms, transform 300ms;
            &:not(.add)
            {
                border-color: white-color(0.9);
                border-width: 1px;
                border-style: solid;
            }
            &:not(.add)::before
            {
                @include monospace-font();
                &
                {
                    content: counter(item-num);
                    position: absolute;
                    top: 0.125rem;
                    left: 0.125rem;
                    font-size: 1rem;
                    color: $white-color;
                    background-color: black-color(0.6);
                    z-index: 50;
                    padding: 0.25rem;
                    border-radius: 1.5rem;
                    min-width: 1.5rem;
                    text-align: center;
                    user-select: none;
                }
            }
            & > .thumbnail
            {
                @include full-stretch-box();
                object-fit: cover;
                object-position: center;
                border-radius: 0.5rem;
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                fill: white-color(0.4);
            }
            & > span
            {
                @include font();
                &
                {
                    color: $white-color;
                    text-shadow: 0px 0px 0.25rem black;
                }
            }
            & > span.name
            {
                font-size: 1.25rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                padding: 0.5rem;
                text-align: center;
                z-index: 100;
            }
            & > span.type
            {
                display: none;
                font-size: 1rem;
                width: 100%;
                padding: 0.25rem;
                text-align: left;
                z-index: 100;
                position: absolute;
                top: 0rem;
                left: 0rem;
            }
            & > span.size
            {
                @include monospace-font();
                &
                {
                    font-size: 1rem;
                    padding: 0.25rem;
                    text-align: left;
                    z-index: 100;
                    position: absolute;
                    left: 0rem;
                    bottom: 0rem;
                }
            }
            & > span.duration
            {
                @include monospace-font();
                &
                {
                    font-size: 1rem;
                    width: 100%;
                    padding: 0.25rem;
                    text-align: right;
                    z-index: 100;
                    position: absolute;
                    right: 0rem;
                    bottom: 0rem;
                }
            }
            & > button.remove-button
            {
                @include flex(row, center, center);
                &
                {
                    position: absolute;
                    top: 0.125rem;
                    right: 0.125rem;
                    font-size: 1.25rem;
                    background-color: black-color(0.3);
                    z-index: 150;
                    border-radius: 1.5rem;
                    height: 2rem;
                    width: 2rem;
                    svg
                    {
                        height: 1.25rem;
                        width: 1.25rem;
                        fill: white-color(0.7);
                    }
                }
                @media (hover: hover)
                {
                    &:hover
                    {
                        background-color: black-color(0.9);
                        filter: drop-shadow($white-color 0px 0px 0.5rem);
                        svg
                        {
                            fill: white-color(0.9);
                        }
                    }
                }
            }
            @media (hover: hover)
            {
                &:not(.add):hover
                {
                    z-index: 100;
                    background-color: $hover-black-color;
                    filter: drop-shadow($white-color 0px 0px 0.5rem);
                }
            }
            @media (min-width: 3000px)
            {
                flex-basis: 9vw;
                min-width: 9vw;
            }
            &.add
            {
                @include fade-transition("body.progress-circle");
                background-color: transparent;
                padding: 0px;
                cursor: default;
                overflow: visible;
                min-width: 91%;
                min-width: calc(100% - 1rem);
                min-width: calc(100% - 1rem - env(safe-area-inset-left) - env(safe-area-inset-right));
                &:first-child::before
                {
                    position: fixed;
                    content: " ";
                    margin-left: auto;
                    margin-right: auto;
                    min-width: 4.5rem;
                    max-width: 4.5rem;
                    min-height: 4.5rem;
                    max-height: 4.5rem;
                    border-radius: 100%;
                    border-width: 1px;
                    border-style: solid;
                    border-color: white;
                    animation: ripple 10.0s infinite linear;
                    pointer-events: none;
                }
                #add-media
                {
                    border-width: 2px;
                    border-radius: 2.25rem;
                    border-color: white;
                    border-style: solid;
                    background-color: black-color(0.9);
                    padding-block: calc(1.0rem - 2px);
                    padding-inline: calc(1.0rem - 2px);
                    width: calc(4.5rem - 2px);
                    height: calc(4.5rem - 2px);
                    vertical-align: baseline;
                    cursor: pointer;
                    svg
                    {
                        width: 2.5rem;
                        height: 2.5rem;
                        fill: $white-color;
                    }
                    @media (hover: hover)
                    {
                        &:hover
                        {
                            z-index: 100;
                            background-color: $hover-black-color;
                            filter: drop-shadow($white-color 0px 0px 0.5rem);
                        }
                    }
                }
                #add-file
                {
                    display: none;
                }
            }
        }
        &.dragging
        {
            cursor: grabbing;
            .item
            {
                cursor: grabbing;
                &:not(.dragging)
                {
                    .thumbnail
                    {
                        opacity: 0.25;
                    }
                }
                &.drag-over:not(.dragging)
                {
                    background-color: white-color(0.9);
                }
                &.drag-over.dragging
                {
                    background-color: black;
                }
            }
        }
    }
    &.black
    {
        #canvas
        {
            display: none
        }
    }
}
.visualizer
{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .viaul-text
    {
        z-index: 100;
    }
    .visual-progress-circle
    {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(calc(0.75 + 0.5 * var(--volume, 0)));
        height: calc(25vw + 25vh);
        height: calc(25dvw + 25dvh);
        width: calc(25vw + 25vh);
        width: calc(25dvw + 25dvh);
        border-radius: 50%;
        background: conic-gradient($visualizer-color var(--progress, 30deg), $visualizer-color var(--progress, 30deg), transparent var(--progress, 30deg));
        filter: drop-shadow(black 0px 0px 0.5rem);
        border-color: $visualizer-color;
        border-width: 0.125rem;
        border-style: solid;
        z-index: 50;
    }
    &.odd .visual-progress-circle
    {
        background: conic-gradient(transparent var(--progress, 30deg), transparent var(--progress, 30deg), $visualizer-color var(--progress, 30deg));
    }
}
body:not(.show-paused-media) #screen-body.paused
{
    #media-screen
    {
        opacity: 0.2;
    }
}
body #screen-body.paused
{
    background-color: $body-background-color;
    #media-list
    {
        padding-bottom: calc(100vh - (5.5rem + env(safe-area-inset-top)));
        padding-bottom: calc(100dvh - (5.5rem + env(safe-area-inset-top)));
    }
}
body.show-paused-media #screen-body
{
    #media-screen
    {
        opacity: 1.0;
        filter: none !important;
    }
    #background-screen
    {
        opacity: 0.0;
    }
    #media-list
    {
        .item:not(.add)
        {
            opacity: 0.3;
            filter: blur(0.5rem);
            transition: opacity 1000ms, filter 1000ms;
        }
    }
}
#element-pool
{
    display: none;
}
#fps
{
    @include black-pop-panel-style();
    @include flex(row, center);
    @include monospace-font();
    &
    {
        position: absolute;
        z-index: 100;
        inset-block-start: 2.5rem;
        inset-block-start: calc(2.5rem + env(safe-area-inset-top));
        inset-inline-end: 0.5rem;
        inset-inline-end: calc(0.5rem + env(safe-area-inset-right));
        border-radius: 0.5rem;
        padding-block: 0.5rem;
        padding-inline: 0.75rem;
        text-align: end;
        white-space: pre;
        will-change: contents opacity filter;
        @include fade-transition("body:not(.play)", "&.hide");
    }
}
#background-introduction-panel
{
    @include fade-transition("body.play");
    @include flex(column, center, center);
    @include font();
    &
    {
        display: none; // 🔥
        position: absolute;
        z-index: 10;
        //color: white;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 50%;
        padding: 1rem;
        transition: opacity 1000ms;
        .section
        {
            max-width: 100%;
            width: 48rem;
            p
            {
                @include font-size(1rem);
                white-space: pre-wrap;
            }
        }
        @media (max-width: 1400px) or (max-height: 1024px)
        {
            opacity: 0.0;
        }
    }
}
#popup-introduction-panel
{
    @include fade-transition("body.play");
    @include black-pop-panel-style();
    @include full-stretch-box();
    @include flex(column, center, center);
    @include font();
    &
    {
        display: none; // 🔥
        position: fixed;
        z-index: 10;
        transition: opacity 1000ms;
        opacity: 0.0;
        .section
        {
            max-width: 100%;
            width: 48rem;
            p
            {
                @include font-size(1rem);
                white-space: pre-wrap;
            }
        }
        @media (max-width: 1400px) or (max-height: 1024px)
        {
            &
            {
                user-select: none;
                pointer-events: none;
                z-index: 9999;
                //color: white;
                //background-color: black;
                padding: 1rem;
            }
            &.force-show
            {
                pointer-events: all;
                opacity: 1.0;
            }
        }
    }
}
#progress-circle
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: conic-gradient(#fff var(--progress, 30deg), #fff var(--progress, 30deg), transparent var(--progress, 30deg));
    filter: drop-shadow(black 0px 0px 0.5rem);
    border-color: #fff;
    border-width: 0.125rem;
    border-style: solid;
    z-index: 100;
}
body:not(.progress-circle)
{
    #progress-circle
    {
        display: none;
    }
}
#no-media-panel,
#not-supported-media-panel
{
    @include black-pop-panel-style();
    @include font();
    &
    {
        font-size: 1.25rem;
        position: fixed;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        border-radius: 2rem;
        min-width: 18rem;
        max-width: 95%;
        max-width: calc(100% - 2rem);
        z-index: 100;
    }
}
#no-media-panel
{
    @include fade-transition("body:not(.no-media)");
}
body:not(.no-media)
{
    #no-media-panel
    {
        transition: opacity 3000ms, filter 3000ms !important;
    }
}
#not-supported-media-panel
{
    @include fade-transition("body:not(.not-supported-media)");
}
body:not(.not-supported-media)
{
    #not-supported-media-panel
    {
        transition: opacity 3000ms, filter 3000ms !important;
    }
}
#control-panel
{
    @include black-pop-panel-style();
    @include fade-transition("body.play:not(.show-ui)");
    @include flex(row, center);
    &
    {
        border-radius: 4.5rem;
        inset-block-end: 1.5rem;
        inset-block-end: calc(1.5rem + env(safe-area-inset-bottom));
        inset-inline-start: 50%;
        transform: translate(-50%, 0%);
        position: fixed;
        z-index: 60;
        padding: 0.25rem 0.25rem;
        gap: 0.25rem;
        label[for="wake-up"].icon-button
        {
            margin-left: -3.25rem;
        }
        label[for="sleep"].icon-button
        {
            margin-right: -3.25rem;
        }
        @media (max-width: 420px)
        {
            label[for="wake-up"].icon-button
            {
                margin-top: -7.0rem;
                margin-right: -3.25rem;
                margin-left: 0rem;
            }
            label[for="sleep"].icon-button
            {
                margin-top: -7.0rem;
                margin-right: 0rem;
                margin-left: -3.25rem;
            }
        }
        .icon-button
        {
            & > input[type="checkbox"]
            {
                display: none;
            }
            & > input[type="checkbox"]:checked + svg,
            & > input[type="checkbox"]:checked + div + div svg,
            & > input[type="checkbox"]:checked + div + div + div svg,
            & > input[type="checkbox"]:checked + div + div + div + div svg,
            & > input[type="checkbox"]:checked + div + div + div + div + div svg,
            & > input[type="checkbox"]:checked + div + div + div + div + div + div svg,
            & > input[type="checkbox"]:checked + div + svg
            {
                border-color: $white-color;
            }
            & > svg,
            & > div > svg
            {
                @include svg-color($white-color);
                vertical-align: middle;
            }
        }
        label.icon-button svg,
        button
        {
            @include black-pop-panel-style();
            &
            {
                border-style: solid;
                border-width: 2px;
                padding-block: calc(0.75rem - 2px);
                padding-inline: calc(0.75rem - 2px);
                &.on
                {
                    border-color: $white-color;
                }
                border-color: black-color(0.9);
                border-radius: 1.5rem;
                transition: opacity 750ms, filter 125ms;
                width: 3.0rem;
                height: 3.0rem;
                background-color: black-color(0.9);
            }
            svg
            {
                @include svg-color($white-color);
                width: 100%;
                height: 100%;
            }
            @media (hover: hover)
            {
                &:hover
                {
                    z-index: 100;
                    filter: drop-shadow($white-color 0px 0px 0.5rem);
                }
            }
        }
        #play-button
        {
            border-color: $white-color;
            border-width: 2px;
            border-radius: 2.25rem;
            padding-block: calc(1.0rem - 2px);
            padding-inline: calc(1.0rem - 2px);
            width: 4.5rem;
            height: 4.5rem;
            margin-top: -1.125rem;
            margin-bottom: -1.125rem;
            background-color: #1F1D25;
            @at-root body.play & #play-icon
            {
                display: none;
            }
            @at-root body:not(.play) & #pause-icon
            {
                display: none;
            }
        }
    }
}
#media-index,
#media-title,
#media-time
{
    @include black-pop-panel-style();
    @include font();
    &
    {
        padding: 0.25rem 0.75rem;
        z-index: 50;
        color: $white-color;
        border-radius: 1rem;
        &:empty
        {
            display: none;
        }
    }
}
#media-index,
#media-title
{
    position: fixed;
    top: 0.5rem;
    top: calc(0.5rem + env(safe-area-inset-top));
}
#media-index
{
    @include fade-transition("body:not(.play):not(.show-paused-media)", "body:not(.show-ui)", "body.show-seek-bar");
    @include monospace-font();
    &
    {
        left: 0.5rem;
        left: calc(0.5rem + env(safe-area-inset-left));
    }
}
#media-title
{
    @include fade-transition("body:not(.play):not(.show-paused-media)", "body:not(.show-ui)", "body.show-seek-bar");
    @include font();
    &
    {
        left: 50%;
        transform: translate(-50%, 0%);
    }
}
#media-time-frame
{
    @include flex(row-reverse, end);
    &
    {
        position: fixed;
        top: 0.5rem;
        top: calc(0.5rem + env(safe-area-inset-top));
        right: 0.5rem;
        right: calc(0.5rem + env(safe-area-inset-right));
        left: 0.5rem;
        left: calc(0.5rem + env(safe-area-inset-left));
        z-index: 50;
        gap: 0.25rem;;
        #media-time
        {
            @include fade-transition("body:not(.play):not(.show-paused-media)", "body:not(.show-ui)");
            @include monospace-font();
            &
            {
                border-style: solid;
                border-width: 0px;
                border-color: $white-color;
                cursor: pointer;
            }
        }
        #seek-panel
        {
            @include fade-transition("body:not(.play):not(.show-paused-media)", "body:not(.show-ui)", "body:not(.show-seek-bar)");
            @include black-pop-panel-style();
            @include flex(column, center, stretch);
            &
            {
                transition: transform 500ms, opacity 500ms, filter 500ms;
                border-radius: 1rem;
                z-index: 60;
                padding: 0.25rem 0.5rem;
                line-height: 0rem;
                flex-grow: 1;
            }
        }
    }
}
body:not(.play):not(.show-paused-media),
body:not(.show-ui)
{
    #media-time-frame
    {
        pointer-events: none;
    }
}
body.show-seek-bar #media-time-frame
{
    #media-time
    {
        border-width: 1px;
    }
}
@media (max-width: 480px)
{
    #media-index
    {
        display: none;
    }
    body:not(.show-seek-bar)
    {
        #media-time-frame
        {
            display: none;
        }
    }
}
#next-button, #back-button
{
    @include fade-transition("body:not(.play):not(.show-paused-media)", "body:not(.show-ui)");
    // @include fade-transition("body.play:not(.show-ui)");
    @include black-pop-panel-style();
    &
    {
        position: fixed;
        inset-block-start: 50%;
        transform: translate(0%, -50%);
        z-index: 50;
        border-style: solid;
        border-width: 0px;
        border-color: $white-color;
        border-radius: 4.5rem;
        padding-block: 1.0rem;
        padding-inline: 1.0rem;
        transition: opacity 1500ms, filter 125ms;
        width: 9.5rem;
        height: 4.5rem;
        background-color: black-color(0.6);
        &:active
        {
            border-width: 1px;
        }
    }
    svg
    {
        @include svg-color($white-color);
        width: 2.5rem;
        height: 2.5rem;
    }
    @media (hover: hover)
    {
        &:hover
        {
            z-index: 100;
            filter: drop-shadow($white-color 0px 0px 0.5rem);
        }
    }
}
#back-button
{
    left: -5.75rem;
    left: calc(-5.75rem + env(safe-area-inset-left));
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
#next-button
{
    right: -5.75rem;
    right: calc(-5.75rem + env(safe-area-inset-right));
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
body.no-media
{
    #next-button, #back-button
    {
        opacity: 0.3;
    }
}
#fast-forward-button, #rewind-button
{
    @include fade-transition("body:not(.play):not(.show-paused-media)", "body:not(.show-ui)");
    // @include fade-transition("body.play:not(.show-ui)");
    @include black-pop-panel-style();
    @include black-pop-panel-style();
    &
    {
        position: fixed;
        bottom: 1.75rem;
        bottom: calc(1.75rem + env(safe-area-inset-bottom));
        z-index: 50;
        border-style: solid;
        border-width: 0px;
        &:active
        {
            border-width: 1px;
        }
        border-color: $white-color;
        border-radius: 1.5rem;
        padding-block: 0.75rem;
        padding-inline: 0.75rem;
        transition: opacity 750ms, filter 125ms;
        width: 3.0rem;
        height: 3.0rem;
        background-color: black-color(0.9);
    }
    svg
    {
        @include svg-color($white-color);
        width: 100%;
        height: 100%;
    }
    @media (hover: hover)
    {
        &:hover
        {
            z-index: 100;
            filter: drop-shadow($white-color 0px 0px 0.5rem);
        }
    }
}
#rewind-button
{
    left: 1.75rem;
    left: calc(1.75rem + env(safe-area-inset-left));
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
#fast-forward-button
{
    right: 1.75rem;
    right: calc(1.75rem + env(safe-area-inset-right));
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
body.no-media
{
    #fast-forward-button,
    #rewind-button
    {
        opacity: 0.3;
    }
}
@media (max-width: 480px)
{
    #fast-forward-button,
    #rewind-button
    {
        display: none;
    }
}
#wakeup-panel
{
    @include fade-transition("body #wakeup:not(:checked) + &");
    //@include slide-down-transition("body #volume-button:not(.on) + &");
    @include black-pop-panel-style();
    &
    {
        transition: transform 500ms, opacity 500ms, filter 500ms;
        border-radius: 0.5rem;
        inset-block-end: 7.5rem;
        inset-inline-end: calc(50% - 8.625rem);
        position: fixed;
        z-index: 60;
        padding: 0.5rem;
        background-color: black-color(0.9);
        transform: rotate(-90deg);
        line-height: 0rem;
    }
}
label[for="volume-button"]
{
    &:not(.volume-mute) #speaker-mute-icon
    {
        display: none;
    }
    &:not(.volume-0) #speaker-0-icon
    {
        display: none;
    }
    &:not(.volume-1) #speaker-1-icon
    {
        display: none;
    }
    &:not(.volume-2) #speaker-2-icon
    {
        display: none;
    }
    &:not(.volume-3) #speaker-3-icon
    {
        display: none;
    }
    #speaker-mute-icon svg
    {
        fill: red;
    }
}
#volume-panel
{
    @include fade-transition("body #volume-button:not(:checked) + &");
    //@include slide-down-transition("body #volume-button:not(.on) + &");
    @include black-pop-panel-style();
    &
    {
        transition: transform 500ms, opacity 500ms, filter 500ms;
        border-radius: 0.5rem;
        inset-block-end: 7.5rem;
        inset-inline-end: calc(50% - 8.625rem);
        position: fixed;
        z-index: 60;
        padding: 0.5rem;
        background-color: black-color(0.9);
        transform: rotate(-90deg);
        line-height: 0rem;
    }
}
#settings-panel
{
    //@include black-pop-panel-style();
    @include fade-transition("body #settings-button:not(:checked) + &");
    @include slide-down-transition("body #settings-button:not(:checked) + &");
    //@include flex(column);
    &
    {
        transition: transform 500ms, opacity 500ms, filter 500ms;
        border-radius: 0.5rem;
        inset-block-end: 4.5rem;
        inset-inline-end: calc(50% - 9.5rem);
        max-height: calc(100vh - 6.5rem);
        max-height: calc(100vh - (6.5rem + env(safe-area-inset-top) + env(safe-area-inset-bottom)));
        max-height: calc(100dvh - (6.5rem + env(safe-area-inset-top) + env(safe-area-inset-bottom)));
        overflow-y: auto;
        //transform: translate(-50%, 0%);
        backdrop-filter: blur(0.5rem);
        position: fixed;
        z-index: 60;
        padding: 0.25rem 0.5rem;
        gap: 0.25rem;
        label
        {
            @include black-pop-panel-style();
            @include flex(row, space-between);
            @include font();
            &
            {
                position: relative;
                cursor: pointer;
                padding-block: 0.125rem;
                padding-inline: 0.5rem;
                margin-block-end: 1px;
                background-color: black-color(0.8);
                border-radius: 0.25rem;
                height: 1.5rem;
                flex-grow: 1;
                white-space: nowrap;
                &.information
                {
                    background-color: white-color(0.8);
                    color: black-color(0.9);
                    cursor: default;
                    pointer-events: none;
                }
                @media (hover: hover)
                {
                    &:hover
                    {
                        background-color: $hover-black-color;
                    }
                }
                *
                {
                    user-select: none;
                    cursor: pointer;
                }
                .value-text
                {
                    @include monospace-font();
                    &
                    {
                        text-align: end;
                        width: 100%;
                        padding-inline: 0.5rem;
                    }
                }
                input
                {
                    @include font();
                    &
                    {
                        margin: 0.5rem;
                        padding: 0px;
                    }
                }
                select
                {
                    @include reset-appearance();
                    @include font();
                    &
                    {
                        color: $white-color;
                        background-color: transparent;
                        border: none;
                        border-radius: 0.5rem;
                        padding-block: 0.25rem;
                        padding-inline: 0.25rem;
                        text-align: end;
                        text-align-last: end;
                        option
                        {
                            background-color: black-color(1.0);
                            text-align: end;
                        }
                    }
                }
                &.link-label:not(:hover)
                {
                    background-color: black-color(0.4);
                    a
                    {
                        width: 100%;
                    }
                }
            }
        }
    }
}
#sleep-panel
{
    @include fade-transition("body #sleep:not(:checked) + &");
    //@include slide-down-transition("body #volume-button:not(.on) + &");
    @include black-pop-panel-style();
    &
    {
        transition: transform 500ms, opacity 500ms, filter 500ms;
        border-radius: 0.5rem;
        inset-block-end: 7.5rem;
        inset-inline-end: calc(50% - 8.625rem);
        position: fixed;
        z-index: 60;
        padding: 0.5rem;
        background-color: black-color(0.9);
        transform: rotate(-90deg);
        line-height: 0rem;
    }
}
#overlay-panel
{
    @include fade-transition("body:not(.play)", "&.hide");
    &
    {
        position: fixed;
        user-select: none;
        pointer-events: none;
        &.center
        {
            inset-block-start: 50%;
            inset-inline-start: 50%;
            transform: translate(-50%, -50%);
        }
        &.top-left, &.top-right
        {
            top: calc(1.0 * var(--diagonal));
            top: calc(1.0 * var(--diagonal) + env(safe-area-inset-top));
        }
        &.top-right, &.bottom-right
        {
            right: calc(1.0 * var(--diagonal));
            right: calc(1.0 * var(--diagonal) + env(safe-area-inset-right));
        }
        &.top-left, &.bottom-left
        {
            left: calc(1.0 * var(--diagonal));
            left: calc(1.0 * var(--diagonal) + env(safe-area-inset-left));
        }
        &.bottom-right, &.bottom-left
        {
            bottom: calc(1.0 * var(--diagonal));
            bottom: calc(1.0 * var(--diagonal) + env(safe-area-inset-bottom));
        }
        span
        {
            display: block;
            text-align: center;
            transition: color 3000ms, text-shadow 3000ms;
        }
        &.blend
        {
            mix-blend-mode: difference;
            span
            {
                color: white;
            }
        }
        &.white
        {
            span
            {
                color: white;
                text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black;
            }
        }
        &.black
        {
            span
            {
                color: black;
                text-shadow: -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, 1px 1px 0px white;
            }
        }
        &.system
        {
            span
            {
                @media (prefers-color-scheme: light)
                {
                    color: white;
                    text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black;
                }
                @media (prefers-color-scheme: dark)
                {
                    color: black;
                    text-shadow: -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, 1px 1px 0px white;
                }
            }
        }
        &.rainbow
        {
            span
            {
                //color: Specified in JavaScript;
                text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black;
            }
        }
        #time:not(.text)
        {
            @include monospace-font();
            &
            {
                @include font-size(calc(7.4 * var(--diagonal)));
                line-height: 100%;
            }
        }
        #time.text
        {
            @include font();
            &
            {
                @include font-size(calc(7.4 * var(--diagonal)));
            }
        }
        #time
        {
            white-space: nowrap;
        }
        #date
        {
            @include font();
            &
            {
                @include font-size(calc(2.1 * var(--diagonal)));
                white-space: nowrap;
            }
        }
        #weather
        {
            @include flex(row, center);
            @include monochrome-font();
            &
            {
                @include font-size(calc(2.1 * var(--diagonal)));
                .first-letter
                {
                    @include font-size(calc(3.15 * var(--diagonal)));
                    margin-top: calc(-0.525 * var(--diagonal));
                    margin-bottom: calc(-0.525 * var(--diagonal));
                    padding-right: calc(0.525 * var(--diagonal));
                }
            }
        }
        #calendar
        {
            @include monospace-font();
            &
            {
                &:empty
                {
                    display: none;
                }
                @include font-size(calc(1.0 * var(--diagonal)));
                line-height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: calc(0.5 * var(--diagonal));
                padding: calc(0.5 * var(--diagonal));
                .week
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: calc(0.75 * var(--diagonal));
                    .day
                    {
                        width: calc(1.0 * var(--diagonal));
                        height: calc(1.0 * var(--diagonal));
                        text-align: center;
                        &.today
                        {
                            text-decoration: underline;
                        }
                        &:not(.current-month)
                        {
                            opacity: 0.4;
                        }
                    }
                }
            }
        }
        #visualizer
        {
            &:not(.on)
            {
                display: none;
            }
            width: calc(12 * var(--diagonal));
            height: calc(12 * var(--diagonal));
            canvas
            {
                width: 100%;
                height: 100%;
            }
        }
        &.top-right, &.top-left, &.center
        {
            display: flex;
            flex-direction: column;
        }
        &.bottom-right, &.bottom-left
        {
            display: flex;
            flex-direction: column-reverse;
        }
        &.top-right, &.bottom-right
        {
            align-items: end;
        }
        &.top-left, &.bottom-left
        {
            align-items: start;
        }
        &.center
        {
            align-items: center;
        }
    }
}
[dir="rtl"] #overlay-panel
{
    transform: translate(50%, -50%);
}
#screen-footer
{
    @include bottom-stretch-box();
    @include flex(column, start, stretch);
    position: fixed;
    z-index: 20;
    pointer-events: none;
    #supplementary-line
    {
        @include flex(row, space-between, end);
        #keyboard-shortcut
        {
            @include fade-transition("body.play", "body.show-paused-media");
            @include black-pop-panel-style();
            @include font();
            &
            {
                margin-block: 0.5rem;
                margin-inline: 0.5rem;
                margin-inline-start: calc(0.5rem + env(safe-area-inset-left));
                border-radius: 0.5rem;
                padding-block: 0.5rem;
                padding-inline: 1.0rem;
                display: grid;
                grid-template-columns: minmax(0, max-content) minmax(0, max-content);
                gap: 0.5rem 0.5rem;
                align-items: center;
                pointer-events: initial;
                span
                {
                    white-space: nowrap;
                    &:nth-child(2n + 1)
                    {
                        justify-self: end;
                    }
                    kbd
                    {
                        @include monospace-font();
                        &
                        {
                            display: inline-block;
                            contain: paint;
                            border-style: solid;
                            border-width: 1px;
                            border-color: $kbd-border-color;
                            border-radius: 4px;
                            padding-block: 1px;
                            padding-inline: 4px;
                            margin-block: 2px;
                            margin-inline: 2px;
                            background-color: $kbd-background-color;
                        }
                    }
                    .separator
                    {
                        @include monospace-font();
                        &
                        {
                            display: inline-block;
                            padding-block: 1px;
                            padding-inline: 4px;
                            margin-block: 2px;
                            margin-inline: 2px;
                        }
                    }
                }
                @media (max-width: 760px) or (max-height: 840px)
                {
                    pointer-events: none;
                    visibility: hidden;
                    width: 0px;
                    height: 0px;
                }
            }
        }
        #information
        {
            @include fade-transition("body.play", "body.show-paused-media");
            #repository
            {
                @include black-pop-panel-style();
                @include font();
                &
                {
                    margin-block: 0.5rem;
                    margin-inline: 0.5rem;
                    margin-inline-end: calc(0.5rem + env(safe-area-inset-right)) ;
                    border-radius: 0.5rem;
                    padding-block: 0.5rem;
                    padding-inline: 1.0rem;
                    display: block;
                    direction: ltr;
                    text-align: start;
                    pointer-events: initial;
                    a
                    {
                        color: white-color(0.7);
                        cursor: pointer;
                        @media (hover: hover)
                        {
                            &:hover
                            {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
            #powered-by
            {
                @include black-pop-panel-style();
                @include font();
                &
                {
                    margin-block: 0.5rem;
                    margin-inline: 0.5rem;
                    margin-inline-end: calc(0.5rem + env(safe-area-inset-right)) ;
                    border-radius: 0.5rem;
                    padding-block: 0.5rem;
                    padding-inline: 1.0rem;
                    display: block;
                    direction: ltr;
                    text-align: start;
                    pointer-events: initial;
                    .title
                    {
                        @include solid-box();
                    }
                    ul
                    {
                        @include solid-box();
                        padding-inline-start: 1.0rem;
                        li
                        {
                            @include solid-box();
                            a
                            {
                                color: white-color(0.7);
                                cursor: pointer;
                                @media (hover: hover)
                                {
                                    &:hover
                                    {
                                        color: $white-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 760px) or (max-height: 840px)
            {
                pointer-events: none;
                visibility: hidden;
                width: 0px;
                height: 0px;
            }
        }
    }
}
