@use "./traits" as *;
@use "../locale/generated/langs.scss" as *;
#noscript
{
    position: fixed;
    z-index: 9999;
    color: white;
    background-color: black;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 1rem;
    padding-top: calc(1rem + env(safe-area-inset-top));
    padding-right: calc(1rem + env(safe-area-inset-right));
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    padding-left: calc(1rem + env(safe-area-inset-left));
    overflow: auto;
    @include flex(column, start, center);
    .panel
    {
        animation-name: noscript-fadein;
        animation-direction: normal;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        width: 100%;
        position: relative;
        *[lang]
        {
            position: absolute;
        }
        .section
        {
            h2 + div
            {
                white-space: pre-wrap;
            }
        }
        .section + .section
        {
            margin-top: 4.5rem;
        }
    }
}
@keyframes noscript-fadein
{
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}