$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$monospace-font: "Consolas", "Liberation Mono", "Courier New", monospace;
@function white-color($alpha)
{
    @return rgba(230, 237, 243, $alpha);
}
@function black-color($alpha)
{
    @return rgba(32, 28, 38, $alpha);
}
$body-background-color: black;
$white-color: white-color(1.0);
//$black-color: black-color(1.0);
$hover-black-color: black-color(0.95);
$kbd-border-color: rgba(255, 255, 255, 0.6);
$kbd-background-color: rgba(255, 255, 255, 0.15);
$visualizer-color: hsl(160, 100%, 50%);
$accent-color: hsl(200, 100%, 50%);
$second-accent-color: hsl(100, 100%, 50%);
$error-color: red;
$warning-color: orange;
@property --short-side
{
    syntax: '<length>';
    inherits: true;
    initial-value: calc(30vw + 30vh);
}
@property --screen-brightness
{
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}
@property --volume
{
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}
@property --progress
{
    syntax: '<number>';
    inherits: false;
    initial-value: 0deg;
}
@property --blur
{
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
}
@property --brightness
{
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}
