$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$monospace-font: "Consolas", "Liberation Mono", "Courier New", monospace;
@function white-color($alpha)
{
    @return rgba(230, 237, 243, $alpha);
}
@function black-color($alpha)
{
    @return rgba(32, 28, 38, $alpha);
}
$body-background-color: black;
$white-color: white-color(1.0);
//$black-color: black-color(1.0);
$hover-black-color: black-color(0.95);
$kbd-border-color: rgba(255, 255, 255, 0.6);
$kbd-background-color: rgba(255, 255, 255, 0.15);
