@use "sass:string";
@use "sass:math";
@use "sass:list" as list;
@use "./params" as *;
@mixin apply-transition-effect($modes...)
{
    @each $mode in $modes
    {
        $is-body: 1 == string.index($mode, "body.") or 1 == string.index($mode, "body:");
        @if $is-body
        {
            @at-root #{$mode} &:not(.show)
            {
                @content;
            }
        }
        @else
        {
            #{$mode}:not(.show)
            {
                @content;
            }
        }
    }
}
@mixin slide-down-transition($modes...)
{
    transition: transform 500ms;
    @include apply-transition-effect($modes...)
    {
        transform: translate(0px, 100%);
    }
}
@mixin fade-effect()
{
    opacity: 0;
    cursor: none;
    pointer-events: none;
    filter: blur(1.0em);
    &::before
    {
        content: "";
        position: absolute;
        top: -1em;
        left: -1em;
        right: -1em;
        bottom: -1em;
        background: inherit;
        filter: blur(1.0em);
        z-index: -1;
        transition: filter 750ms;
    }
}
@mixin fade-transition($modes...)
{
    transition: opacity 750ms, filter 750ms;
    @include apply-transition-effect($modes...)
    {
        @include fade-effect();
    }
}
@mixin blackout-transition($modes...)
{
    transition: background-image 750ms, background-color 750ms;
    @include apply-transition-effect($modes...)
    {
        background-image: none;
        background-color: black;
        cursor: none;
        pointer-events: none;
    }
}
@mixin blur-transition($modes...)
{
    transition: filter 750ms;
    @include apply-transition-effect($modes...)
    {
        cursor: none;
        pointer-events: none;
        filter: blur(1.0em);
        &::before
        {
            content: "";
            position: absolute;
            top: -1em;
            left: -1em;
            right: -1em;
            bottom: -1em;
            background: inherit;
            filter: blur(1.0em);
            z-index: -1;
            transition: filter 750ms;
        }
    }
}
@mixin flex($flex-direction: row, $justify-content: start, $align-items: center)
{
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin solid-box()
{
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0;
}
@mixin full-stretch-box()
{
    margin: 0px;
    inset-block-start: 0px;
    inset-block-end: 0px;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
}
@mixin reset-appearance()
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@mixin black-panel-style-base()
{
    backdrop-filter: blur(0.5rem);
    color: white-color();
}
@mixin black-line-panel-style()
{
    @include black-panel-style-base();
    background-color: black-color(0.8);
}
@mixin black-pop-panel-style()
{
    @include black-panel-style-base();
    background-color: black-color(0.6);
}
@mixin font-size($font-size)
{
    font-size: $font-size;
}
@mixin font-base()
{
    @include font-size(0.75rem);
    font-weight: 400;
    @media (min-width: 1024px) and (max-width: 1599px)
    {
        @include font-size(0.9rem);
    }
    @media (min-width: 1600px)
    {
        @include font-size(1.0rem);
    }
}
@mixin font()
{
    @include font-base();
    &
    {
        font-family: $default-font;
    }
}
@mixin monospace-font()
{
    @include font-base();
    &
    {
        font-family: $monospace-font;
    }
}
@mixin svg-color($color)
{
    color: $color;
    fill: $color;
}
@mixin default-button
{
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black-color(0.9);
    background-color: white-color(0.7);
    width: 12rem;
    span
    {
        @include font();
        &
        {
            @include font-size(1rem);
        }
    }
    @media (hover: hover)
    {
        &:hover
        {
            background-color: white-color(0.9);
        }
    }
}
.pixelated
{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
@keyframes ripple
{
    0%
    {
        min-width: 4.5rem;
        max-width: 4.5rem;
        min-height: 4.5rem;
        max-height: 4.5rem;
        opacity: 0.0;
        filter: blur(0.125rem);
    }
    5%
    {
        min-width: 4.5rem;
        max-width: 4.5rem;
        min-height: 4.5rem;
        max-height: 4.5rem;
        opacity: 1.0;
        filter: blur(0.0rem);
    }
    100%
    {
        min-width: 200vh;
        max-width: 200vh;
        min-height: 200vh;
        max-height: 200vh;
        opacity: 0.0;
        filter: blur(0.125rem);
    }
}
@mixin fixed-text-outline($color, $thickness: 1px)
{
    text-shadow: -$thickness (-$thickness) 0px $color, $thickness (-$thickness) 0px $color, -$thickness $thickness 0px $color, $thickness $thickness 0px $color;
}
@mixin text-outline($color)
{
    @include fixed-text-outline($color, 0.5px);
    @media (min-width: 750px)
    {
        @include fixed-text-outline($color, 1.0px);
    }
    @media (min-width: 1500px)
    {
        @include fixed-text-outline($color, 1.5px);
    }
    @media (min-width: 3000px)
    {
        @include fixed-text-outline($color, 2.0px);
    }
    @media (min-width: 4500px)
    {
        @include fixed-text-outline($color, 2.5px);
    }
    @media (min-width: 6000px)
    {
        @include fixed-text-outline($color, 3.0px);
    }
    @media (min-width: 7500px)
    {
        @include fixed-text-outline($color, 3.5px);
    }
    @media (min-width: 9000px)
    {
        @include fixed-text-outline($color, 4.0px);
    }
}
@mixin progress-circle($color: white, $background-color: transparent)
{
    border-radius: 50%;
    background: conic-gradient($color calc(var(--progress) * 360deg), $color calc(var(--progress) * 360deg), $background-color calc(var(--progress) * 360deg));
}
@mixin clock-needle($needle-color)
{
    $trailer-rate: 0.25;
    $void-rate: 1.0 - $trailer-rate;
    background-image: conic-gradient(from calc(var(--progress) * 360deg), black 0deg, black calc($void-rate * 360deg), $needle-color 360deg);
    will-change: --progress, background-image;
}
@mixin circle-size($size)
{
    width: calc(var(--short-side) * $size);
    height: calc(var(--short-side) * $size);
    border-radius: 50%;
}
@mixin focus-halo()
{
    filter: drop-shadow(0px 0px 0.25rem $second-accent-color) drop-shadow(0px 0px 1rem $accent-color);
}
@mixin even-clock-ticks($count) {
    $half-count: math.div($count, 2);
    $grads: ();
    $step: math.div(180deg, $half-count);
    @for $i from 0 through $half-count - 1 {
        $angle: $i * $step;
        $grads: list.append(
            $grads,
            linear-gradient(
                #{$angle},
                transparent calc(50% - var(--tick-width)),
                var(--tick-color) calc(50% - var(--tick-width)),
                var(--tick-color) calc(50% + var(--tick-width)),
                transparent calc(50% + var(--tick-width))
            ),
            comma
        );
    }
    background: $grads;
}
@mixin odd-clock-ticks($count)
{
    $bg-list: ();
    $step: math.div(360deg, $count);
    @for $i from 0 through $count - 1 {
        $angle: $i * $step;
        $grad: conic-gradient(from calc(#{$angle} - (var(--line-angle) / 2)), var(--tick-color) 0deg calc(var(--line-angle)), transparent calc(var(--line-angle)) 360deg);
        $bg-list: list.append($bg-list, $grad, comma);
    }
    background: $bg-list;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin month-clock-ticks($first-half-count, $second-half-count)
{
    $bg-list: ();
    @for $i from 0 through math.floor(math.div($first-half-count - 1, 2)) {
        $angle: $i * math.div(360deg, $first-half-count);
        $is-major: $i % 5 == 0;
        $grad: if(
            $is-major,
            conic-gradient(from calc(#{$angle} - (var(--major-line-angle) / 2)), var(--major-tick-color) 0deg calc(var(--major-line-angle)), transparent calc(var(--major-line-angle)) 360deg),
            conic-gradient(from calc(#{$angle} - (var(--minor-line-angle) / 2)), var(--minor-tick-color) 0deg calc(var(--minor-line-angle)), transparent calc(var(--minor-line-angle)) 360deg)
        );
        $bg-list: list.append($bg-list, $grad, comma);
    }
    @for $i from math.ceil(math.div($second-half-count, 2)) through $second-half-count - 1 {
        $angle: $i * math.div(360deg, $second-half-count);
        $is-major: $i % 5 == 0;
        $grad: if(
            $is-major,
            conic-gradient(from calc(#{$angle} - (var(--major-line-angle) / 2)), var(--major-tick-color) 0deg calc(var(--major-line-angle)), transparent calc(var(--major-line-angle)) 360deg),
            conic-gradient(from calc(#{$angle} - (var(--minor-line-angle) / 2)), var(--minor-tick-color) 0deg calc(var(--minor-line-angle)), transparent calc(var(--minor-line-angle)) 360deg)
        );
        $bg-list: list.append($bg-list, $grad, comma);
    }
    background: $bg-list;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin clock-60-ticks()
{
    $count: 60;
    $half-count: math.div($count, 2);
    $grads: ();
    $step: math.div(180deg, $half-count);
    @for $i from 0 through $half-count - 1 {
        $is-major: $i % 5 == 0;
        $angle: $i * $step;
        $grads: list.append(
            $grads,
            if(
                $is-major,
                linear-gradient(
                    #{$angle},
                    transparent calc(50% - var(--major-tick-width)),
                    var(--major-tick-color) calc(50% - var(--major-tick-width)),
                    var(--major-tick-color) calc(50% + var(--major-tick-width)),
                    transparent calc(50% + var(--major-tick-width))
                ),
                linear-gradient(
                    #{$angle},
                    transparent calc(50% - var(--minor-tick-width)),
                    var(--minor-tick-color) calc(50% - var(--minor-tick-width)),
                    var(--minor-tick-color) calc(50% + var(--minor-tick-width)),
                    transparent calc(50% + var(--minor-tick-width))
                )
            ),
            comma
        );
    }
    background: $grads;
}
@mixin clock-24-ticks()
{
    $count: 24;
    $half-count: math.div($count, 2);
    $grads: ();
    $step: math.div(180deg, $half-count);
    @for $i from 0 through $half-count - 1 {
        $is-major: $i % 2 == 0;
        $angle: $i * $step;
        $grads: list.append(
            $grads,
            if(
                $is-major,
                linear-gradient(
                    #{$angle},
                    transparent calc(50% - var(--major-tick-width)),
                    var(--major-tick-color) calc(50% - var(--major-tick-width)),
                    var(--major-tick-color) calc(50% + var(--major-tick-width)),
                    transparent calc(50% + var(--major-tick-width))
                ),
                linear-gradient(
                    #{$angle},
                    transparent calc(50% - var(--minor-tick-width)),
                    var(--minor-tick-color) calc(50% - var(--minor-tick-width)),
                    var(--minor-tick-color) calc(50% + var(--minor-tick-width)),
                    transparent calc(50% + var(--minor-tick-width))
                )
            ),
            comma
        );
    }
    background: $grads;
}
