@use "sass:string";
@use "./params" as *;
@mixin apply-transition-effect($modes...)
{
    @each $mode in $modes
    {
        $is-body: 1 == string.index($mode, "body.") or 1 == string.index($mode, "body:");
        @if $is-body
        {
            @at-root #{$mode} &:not(.show)
            {
                @content;
            }
        }
        @else
        {
            #{$mode}:not(.show)
            {
                @content;
            }
        }
    }
}
@mixin slide-down-transition($modes...)
{
    transition: transform 500ms;
    @include apply-transition-effect($modes...)
    {
        transform: translate(0px, 100%);
    }
}
@mixin fade-transition($modes...)
{
    transition: display 750ms, opacity 750ms, filter 750ms;
    @include apply-transition-effect($modes...)
    {
        @include vanish-animation(750ms);
        opacity: 0;
        cursor: none;
        pointer-events: none;
        filter: blur(1.0em);
        &::before
        {
            content: "";
            position: absolute;
            top: -1em;
            left: -1em;
            right: -1em;
            bottom: -1em;
            background: inherit;
            filter: blur(1.0em);
            z-index: -1;
            transition: filter 750ms;
        }
    }
}
@mixin vanish-animation($duration: 750ms, $delay: 0ms)
{
    animation-name: vanish;
    animation-duration: $duration;
    animation-timing-function: ease-in;
    animation-delay: $delay;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
@keyframes vanish
{
    100%
    {
        display: none;
    }
}
@mixin flex($flex-direction: row, $justify-content: start, $align-items: center)
{
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin solid-box()
{
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0;
}
@mixin full-stretch-box()
{
    margin: 0px;
    inset-block-start: 0px;
    inset-block-end: 0px;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
}
@mixin top-stretch-box()
{
    margin: 0px;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
}
@mixin bottom-stretch-box()
{
    margin: 0px;
    inset-block-end: 0px;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
}
@mixin reset-appearance()
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@mixin black-panel-style-base()
{
    backdrop-filter: blur(0.5rem);
    color: $white-color;
}
@mixin black-line-panel-style()
{
    @include black-panel-style-base();
    background-color: black-color(0.8);
}
@mixin black-pop-panel-style()
{
    @include black-panel-style-base();
    background-color: black-color(0.6);
}
@mixin font-size($font-size)
{
    font-size: $font-size;
}
@mixin font-base()
{
    @include font-size(0.75rem);
    font-weight: 400;
    @media (min-width: 1024px) and (max-width: 1599px)
    {
        @include font-size(0.9rem);
    }
    @media (min-width: 1600px)
    {
        @include font-size(1.0rem);
    }
}
@mixin font()
{
    @include font-base();
    &
    {
        font-family: $default-font;
    }
}
@mixin monospace-font()
{
    @include font-base();
    &
    {
        font-family: $monospace-font;
    }
}
@mixin svg-color($color)
{
    color: $color;
    fill: $color;
}
@mixin default-button
{
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black-color(0.9);
    background-color: white-color(0.7);
    width: 12rem;
    span
    {
        @include font();
        &
        {
            @include font-size(1rem);
        }
    }
    @media (hover: hover)
    {
        &:hover
        {
            background-color: white-color(0.9);
        }
    }
}
.pixelated
{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
@keyframes ripple
{
    0%
    {
        min-width: 4.5rem;
        max-width: 4.5rem;
        min-height: 4.5rem;
        max-height: 4.5rem;
        opacity: 0.0;
        filter: blur(0.125rem);
    }
    5%
    {
        min-width: 4.5rem;
        max-width: 4.5rem;
        min-height: 4.5rem;
        max-height: 4.5rem;
        opacity: 1.0;
        filter: blur(0.0rem);
    }
    100%
    {
        min-width: 200vh;
        max-width: 200vh;
        min-height: 200vh;
        max-height: 200vh;
        opacity: 0.0;
        filter: blur(0.125rem);
    }
}
@mixin fixed-text-outline($color, $thickness: 1px)
{
    text-shadow: -$thickness (-$thickness) 0px $color, $thickness (-$thickness) 0px $color, -$thickness $thickness 0px $color, $thickness $thickness 0px $color;
}
@mixin text-outline($color)
{
    @include fixed-text-outline($color, 0.5px);
    @media (min-width: 750px)
    {
        @include fixed-text-outline($color, 1.0px);
    }
    @media (min-width: 1500px)
    {
        @include fixed-text-outline($color, 1.5px);
    }
    @media (min-width: 3000px)
    {
        @include fixed-text-outline($color, 2.0px);
    }
    @media (min-width: 4500px)
    {
        @include fixed-text-outline($color, 2.5px);
    }
    @media (min-width: 6000px)
    {
        @include fixed-text-outline($color, 3.0px);
    }
    @media (min-width: 7500px)
    {
        @include fixed-text-outline($color, 3.5px);
    }
    @media (min-width: 9000px)
    {
        @include fixed-text-outline($color, 4.0px);
    }
}
@mixin progress-circle($color: white, $background-color: transparent)
{
    border-radius: 50%;
    background: conic-gradient($color calc(var(--progress) * 360deg), $color calc(var(--progress) * 360deg), $background-color calc(var(--progress) * 360deg));
}
@mixin focus-halo
{
    filter: drop-shadow($second-accent-color 0px 0px 0.25rem) drop-shadow($accent-color 0px 0px 1rem);
}
