#noscript
{
    *[lang]
    {
        opacity: 0;
        animation: noscript-langs-fade 31.5s infinite;
    }
    *[lang="ar"] { animation-delay: 1s; }
    *[lang="de"] { animation-delay: 5.5s; }
    *[lang="en"] { animation-delay: 10s; }
    *[lang="es"] { animation-delay: 14.5s; }
    *[lang="fr"] { animation-delay: 19s; }
    *[lang="it"] { animation-delay: 23.5s; }
    *[lang="ja"] { animation-delay: 28s; }
}
@keyframes noscript-langs-fade
{
    0% { opacity: 0; }
    2.8571428571428577% { opacity: 1; }
    14.285714285714286% { opacity: 1; }
    17.142857142857146% { opacity: 0; }
    100% { opacity: 0; }
}
