#noscript
{
    *[lang]
    {
        opacity: 0;
        animation: noscript-langs-fade 99s infinite;
    }
    *[lang="ar"] { animation-delay: 1s; }
    *[lang="bn"] { animation-delay: 5.5s; }
    *[lang="de"] { animation-delay: 10s; }
    *[lang="el"] { animation-delay: 14.5s; }
    *[lang="en"] { animation-delay: 19s; }
    *[lang="es"] { animation-delay: 23.5s; }
    *[lang="fa"] { animation-delay: 28s; }
    *[lang="fr"] { animation-delay: 32.5s; }
    *[lang="hi"] { animation-delay: 37s; }
    *[lang="id"] { animation-delay: 41.5s; }
    *[lang="it"] { animation-delay: 46s; }
    *[lang="ja"] { animation-delay: 50.5s; }
    *[lang="ko"] { animation-delay: 55s; }
    *[lang="nl"] { animation-delay: 59.5s; }
    *[lang="pl"] { animation-delay: 64s; }
    *[lang="pt"] { animation-delay: 68.5s; }
    *[lang="ru"] { animation-delay: 73s; }
    *[lang="th"] { animation-delay: 77.5s; }
    *[lang="tr"] { animation-delay: 82s; }
    *[lang="vi"] { animation-delay: 86.5s; }
    *[lang="zh-cn"] { animation-delay: 91s; }
    *[lang="zh-tw"] { animation-delay: 95.5s; }
}
@keyframes noscript-langs-fade
{
    0% { opacity: 0; }
    0.9090909090909092% { opacity: 1; }
    4.545454545454546% { opacity: 1; }
    5.454545454545455% { opacity: 0; }
    100% { opacity: 0; }
}
