#noscript
{
    *[lang]
    {
        opacity: 0;
        animation: noscript-langs-fade 58.5s infinite;
    }
    *[lang="ar"] { animation-delay: 1s; }
    *[lang="de"] { animation-delay: 5.5s; }
    *[lang="el"] { animation-delay: 10s; }
    *[lang="en"] { animation-delay: 14.5s; }
    *[lang="es"] { animation-delay: 19s; }
    *[lang="fa"] { animation-delay: 23.5s; }
    *[lang="fr"] { animation-delay: 28s; }
    *[lang="hi"] { animation-delay: 32.5s; }
    *[lang="id"] { animation-delay: 37s; }
    *[lang="it"] { animation-delay: 41.5s; }
    *[lang="ja"] { animation-delay: 46s; }
    *[lang="ko"] { animation-delay: 50.5s; }
    *[lang="pt"] { animation-delay: 55s; }
}
@keyframes noscript-langs-fade
{
    0% { opacity: 0; }
    1.5384615384615385% { opacity: 1; }
    7.6923076923076925% { opacity: 1; }
    9.230769230769232% { opacity: 0; }
    100% { opacity: 0; }
}
