#noscript
{
    *[lang]
    {
        opacity: 0;
        animation: noscript-langs-fade 85.5s infinite;
    }
    *[lang="ar"] { animation-delay: 1s; }
    *[lang="de"] { animation-delay: 5.5s; }
    *[lang="el"] { animation-delay: 10s; }
    *[lang="en"] { animation-delay: 14.5s; }
    *[lang="es"] { animation-delay: 19s; }
    *[lang="fa"] { animation-delay: 23.5s; }
    *[lang="fr"] { animation-delay: 28s; }
    *[lang="hi"] { animation-delay: 32.5s; }
    *[lang="id"] { animation-delay: 37s; }
    *[lang="it"] { animation-delay: 41.5s; }
    *[lang="ja"] { animation-delay: 46s; }
    *[lang="ko"] { animation-delay: 50.5s; }
    *[lang="nl"] { animation-delay: 55s; }
    *[lang="pl"] { animation-delay: 59.5s; }
    *[lang="pt"] { animation-delay: 64s; }
    *[lang="ru"] { animation-delay: 68.5s; }
    *[lang="th"] { animation-delay: 73s; }
    *[lang="tr"] { animation-delay: 77.5s; }
    *[lang="vi"] { animation-delay: 82s; }
}
@keyframes noscript-langs-fade
{
    0% { opacity: 0; }
    1.0526315789473686% { opacity: 1; }
    5.2631578947368425% { opacity: 1; }
    6.315789473684211% { opacity: 0; }
    100% { opacity: 0; }
}
